<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bw.mapper.StudentMapper">
	<resultMap type="StudentBean" id="studentResultMap">
		<id property="student_id" column="student_id"></id>
		<result property="student_name" column="student_name"></result>
	    <result property="student_sex" column="student_sex"></result>
	    <result property="student_class" column="student_class"></result>
	    <result property="student_college" column="student_college"></result>
	    <result property="student_phonenumber" column="student_phonenumber"></result>

	</resultMap>
	<resultMap type="ProjectBean" id="projectResultMap">
		<id property="project_id" column="project_id"></id>
		<result property="project_name" column="project_name"></result>
	    <result property="project_info" column="project_info"></result>
	    <result property="teacher_id" column="teacher_id"></result>
	    <result property="teacher_name" column="teacher_name"></result>   
	</resultMap>
	<resultMap type="ApplyBean" id="applyResultMap">
		<id property="project_id" column="project_id"></id>
		<result property="project_name" column="project_name"></result>
	    <result property="project_info" column="project_info"></result>
	    <result property="teacher_id" column="teacher_id"></result>
	    <result property="student_id" column="student_id"></result>
	    <result property="student_name" column="student_name"></result>
	    <result property="teacher_name" column="teacher_name"></result>
	    <result property="project_content" column="project_content"></result>
	    <result property="project_progress" column="project_progress"></result>
	    <result property="project_teach" column="project_teach"></result> 
	    <result property="pass_status" column="pass_status"></result> 
	    <result property="project_total_score" column="project_total_score"></result> 
	    <result property="has_scored_adjuNumber" column="has_scored_adjuNumber"></result> 
	    <result property="adju_number" column="adju_number"></result>    
	</resultMap>
    
    <select id="ApplyById" resultType="String" parameterType="String">
		select count(*)from  apply where student_id = #{username}
	</select>

	<select id="StudentListById" resultMap="studentResultMap">
		select * from student where student_id = #{username}
	</select>
	<select id="ApplyListById" resultMap="applyResultMap">
		select p.project_id project_id,s.student_id student_id,
		s.student_name student_name,p.teacher_id teacher_id,
		p.teacher_name teacher_name,p.project_name project_name,
		p.project_info project_info,p.project_content project_content,
		p.project_progress project_progress,p.pass_status pass_status,
		p.project_teach project_teach,p.adju_number adju_number,
		p.project_total_score project_total_score
		from student s, apply p
		where  s.student_id = p.student_id and s.student_id = #{username}
	</select>
     <select id="FindById" resultType="com.bw.model.ProjectBean" parameterType="String">
		select * from project where project_id = #{project_id}
	 </select>
	 <select id="findById" resultType="com.bw.model.StudentBean" parameterType="String">
		select * from student where student_id = #{student_id}
	</select>
	
	<select id="findByID" resultType="com.bw.model.ApplyBean" parameterType="String">
		select * from apply where student_id = #{username}
	 </select>
	<select id="findByIdpwd" resultType="com.bw.model.StudentBean" parameterType="String">
		select * from student where student_id = #{username}
	</select>

	<update id="updateStudent" parameterType="com.bw.model.StudentBean">
		update student
		set student_name = #{student_name},
		student_sex =  #{student_sex},
		student_class =  #{student_class},
		student_college =  #{student_college},
		student_phonenumber = #{student_phonenumber}
		where student_id = #{student_id}
	</update>
	<select id="Projectlist" resultMap="projectResultMap">
		select p.project_id project_id,t.teacher_id teacher_id,t.teacher_name teacher_name,p.project_name project_name,p.project_info project_info
		from teacher t,project p
		where t.teacher_id = p.teacher_id
	</select>
	<insert id="InsertApply" parameterType="com.bw.model.ApplyBean">
		insert into apply ( project_id,teacher_id,project_name,teacher_name,project_info,student_id,student_name,project_content)
		value (#{project_id},#{teacher_id},#{project_name},#{teacher_name},#{project_info},#{student_id},#{student_name},#{project_content});
	</insert>
	<update id="updateStupwd" parameterType="com.bw.model.StudentBean">
		update student
		set student_password = #{student_password}
		where student_id = #{student_id}
	</update>
	
	
	
</mapper>